<?xml version="1.0" encoding="utf-8"?>
<config>
    <keycode name="IncreaseScaleKey">W</keycode>
    <keycode name="DecreaseScaleKey">S</keycode>
    <keycode name="NextScaleIntervalKey">D</keycode>
    <keycode name="PrevScaleIntervalKey">A</keycode>
    <keycode name="ScaleModeKey">Alpha5</keycode>
    <keycode name="ToggleTemp Scale Children">LeftControl</keycode>
    <string name="Toggle Scale Children">K</string>
    <bool name="Scale Children">1</bool>
    <keycode name="ToggleTemp Match Node Size">LeftControl</keycode>
    <string name="Toggle Match Node Size">M</string>
    <bool name="Match Node Size">1</bool>
    <bool name="Show Stats">0</bool>
    <bool name="Show KeyBinds">1</bool>
</config>