*.suo
bin
obj
*.user
/Releases
.vs
/GameData/TweakScale/plugins
/GameData/999_Scale_Redist.dll
/GameData/999_Scale_Redist.pdb
/GameData/TSSafetyNet/TweakScaleSafetyNet.dll
/GameData/TSSafetyNet/TweakScaleSafetyNet.pdb
/packages